{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}

<style>
.welcome {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 10px;
    color: #272b38;
    background-color: #ffc800;
}

.memories {
    text-align: center;
    margin-top: 20px;
}

.intro {
    text-align: justify;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    color: #272b38;
    font-family: 'Bangers', sans-serif;
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.intro p:first-child {
    margin-top: 0;
}

.sign-in {
    text-align: center;
    margin-top: 50px;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16pt;
    transition: background-color 0.3s;
    width: 330px;
    height: 70px;
    line-height: 35px;
    text-align: center;
    color: #fff;
}

.btn-google {
    background-color: #db4437;
}

.btn-vk {
    background-color: #3399ff;
}

.button-icon {
    vertical-align: middle;
    margin-right: 10px;
}


</style>

<div class="welcome">
    <h1>Welcome to Places Remember!</h1>
</div>

<div class="intro">
    <p>Our application allows you to store and cherish your precious memories
        of the places you have visited. You can easily manage your memories by
        pointing a place and describing the experiences you had there.</p>
    <p>Explore the world through your memories and keep track of all the
        wonderful places you have experienced. Whether it's a breathtaking
        landscape, a cozy café, or an exciting city, our application helps you
        capture and relive those special moments.</p>
    <p>Start creating your memories today and let our application be your
        trusted companion on your journey of exploration and remembrance!</p>
</div>

<div class="sign-in">
    <!-- Button to open the login page -->
    <a class="btn btn-google" href="{% provider_login_url 'google' %}">
        <img alt="Google Logo" class="button-icon"
             src="{% static 'images/btn_google_light_normal_ios.svg' %}">
        Sign in with Google
    </a>

    <a class="btn btn-vk" href="{% provider_login_url 'vk' %}">
        <img alt="VK Logo" class="button-icon"
             src="{% static 'images/VK_Compact_Logo.svg' %}">
        Sign in with VK
    </a>
</div>

{% endblock %}
